<h1>Your letters</h1>

<%= @letters%>

<form action="/score" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= hidden_field_tag :letters, @letters %>
  <input type="text" name="word" value="<%= params[:word] %>" placeholder="Word?">
  <input type="submit">
</form>
